services:
  app:
    image: 'docker.io/jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - '81:80'
      - '82:81'
      - '444:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
